.core-course-container {
  margin-bottom: 200px;
  margin-top: 150px;
}
.course-discount {
  text-decoration:line-through;
  color: red;
  font-size: 18px;
}
.course-cost {
  font-size: 18px;
  color: rgb(255, 68, 0);
}
.cost-container {
  display: flex;
}

.buy-button {
  background-color: blue;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  padding: 5px 30px;
  border-radius: 30px;
  cursor: pointer;
}
.buy-button:focus {
  outline: none;
}
.discount-img {
  width: 30px;
  border-radius: 15px;
  background-color: transparent;
  margin-right: 3px;
}
.discount-paragraph {
  background-color: aliceblue;
  margin-top: 15px;
  font-size: 14px;
  font-family: arial;
  color: rgb(162, 160, 160);
}